apiVersion: v1
kind: Service
metadata:
  name: {{ include "pingora-gw-ctrl.fullname" . }}
  labels:
    {{- include "pingora-gw-ctrl.labels" . | nindent 4 }}
  {{- with .Values.service.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - name: metrics
      port: {{ .Values.service.metricsPort }}
      targetPort: metrics
      protocol: TCP
    - name: health
      port: {{ .Values.service.healthPort }}
      targetPort: health
      protocol: TCP
  selector:
    {{- include "pingora-gw-ctrl.selectorLabels" . | nindent 4 }}
